.slogan {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../img/hero_background.jpg");
  padding: 200px 0px 200px 0px;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
  }

  &__button {
    padding: 10px 32px 10px 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: $white-color;
    background: $dodger_blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    transition: background-color, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;

    &:hover {
      background-color: $curious_blue-color;
    }
  }
}